.DS_Store
node_modules
/dist
/build

/test/_TestFAMAsset.js
/test/_TestPool.js
/test/_TestStore.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/script/_commands.txt

secrets-ropsten.json
secrets-main.json